<header class="header-modern">

    <section class="logo-e-titulo align-items-center">
        <button class="hvr-buzz">
            <i class="bi bi-list" id="menu-lateral"></i>
        </button>
        <img src="../assets/img/estoque-logo.png" alt="logo-estoque" class="logo-img">
        <h1 class="header-title">Estoque Inteligente</h1>
    </section>
    <section class="situação">
        <div class="user-info">
            <span class="user-name">Olá, <span id="userName"></span></span>
            <span class="user-email" id="userEmail"></span>
        </div>
        <div class="header-controls">
        </div>
    </section>
</header>